@using ITest.DTO

@model TestEditDTO

@{
    ViewData["Title"] = "EditTest";
}

<h2>EditTest</h2>

<h4>TestViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="EditTest" asp-action="EditTest" method="post" id="question-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" placeholder="@Model.Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            
            </div>*@

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Test Name: @Model.Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">CategoryId</label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Category Name</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TimeInMinutes" class="control-label"></label>
                <input asp-for="TimeInMinutes" class="form-control" />
                <span asp-validation-for="TimeInMinutes" class="text-danger"></span>
            </div>

            @for (int i = 0; i < Model.Questions.Count; i++)
    {@*<input asp-for="@Model.Questions[i].TestId" placeholder="@Model.Questions[i].TestId" class="form-control" />*@
        @*<input asp-for="@Model.Questions[i].Id" placeholder="@Model.Questions[i].Id" class="form-control" />*@

        <input asp-for="@Model.Questions[i].Content" placeholder="@Model.Questions[i].Content" class="form-control" />
// <input asp-for=@item.Content" placeholder="Question content" class="form-control" />

        @for (int j = 0; j < @Model.Questions[i].Answers.Count; j++)
{
    //type = "text" id = "Questions_0__.Answers_0__.Content" name = "Questions[0].Answers[0].Content"
    // id = "Questions_0__.Answers_0__.Correct" name = "radio_0"
        @*<input asp-for="Questions[i].Answers[j].Id" placeholder="Questions[i].Answers[j].Id" class="form-control" />*@
        <input asp-for="Questions[i].Answers[j].Content" placeholder="Questions[i].Answers[j].Content" class="form-control" />
        @*<input asp-for="Questions[i].Answers[j].QuestionId" placeholder="Questions[i].Answers[j].QuestionId" class="form-control" />*@
        <input type="radio" asp-for="Questions[i].Answers[j].Correct" class="form-control" value="true" />



}
}


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" id="SaveButton" />
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="~/js/EditTest.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
