
@using ITest.DTO

@model TestEditDTO

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/EditTest.css" />

@{
    ViewData["Title"] = "EditTest";
}


<h4>TestEditDTO</h4>

<div id="createTest-content">
    <h1 class="pageTitle">Edit Test</h1>
    <div class="row">
        <div>
            <form asp-area="Admin" asp-controller="EditTest" asp-action="EditTest" method="post" class="form-inline" id="question-form">

                @*<div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>*@

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Test Name: @Model.Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">CategoryId</label>
                    <input asp-for="CategoryId" class="form-control" />
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label">Category Name</label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TimeInMinutes" class="control-label"></label>
                    <input asp-for="TimeInMinutes" class="form-control" />
                    <span asp-validation-for="TimeInMinutes" class="text-danger"></span>
                </div>
                @*<label>
                        Status
                        @Html.DropDownList("Status", new List<SelectListItem>
                                            {
                                                new SelectListItem{ Text="Published", Value = "1" },
                                                new SelectListItem{ Text="Draft", Value = "2" },

                                             })
                    </label>*@
                <div id="questions-container">
                    @for (int i = 0; i < Model.Questions.Count; i++)
                    {


                        <div class="panel panel-default question" name="Questions @i">

                            <input asp-for="@Model.Questions[i].IsDeleted" placeholder="@Model.Questions[i].Content" class="checkbox secret" />
                            <input asp-for="@Model.Questions[i].TestId" placeholder="@Model.Questions[i].Content" class="secret" />
                            <input asp-for="@Model.Questions[i].Id" placeholder="@Model.Questions[i].Content" class="secret" />



                            <input asp-for="@Model.Questions[i].Content" placeholder="@Model.Questions[i].Content" />
                            <div> <button type="button" class="hide-question">DeleteQuetsion</button></div>
                            <div> <button type="button" class="add-answer-foreach btn btn-default">Add Answer</button></div>

                            @for (int j = 0; j < @Model.Questions[i].Answers.Count; j++)
                            {
                                <div  class="answer-container">
                                    <input asp-for="@Model.Questions[i].Answers[j].QuestionId" placeholder="@Model.Questions[i].Content" class="secret" />
                                    <input asp-for="@Model.Questions[i].Answers[j].Id" placeholder="@Model.Questions[i].Content" class="secret" />

                                    <input asp-for="Questions[i].Answers[j].Content" placeholder="Questions[i].Answers[j].Content" class="form-control" />
                                    <input type="radio" asp-for="Questions[i].Answers[j].Correct" class="form-control" value="true" />
                                </div>
                            }



                        </div>


                    }
                </div>



                <div>
                    <button type="button" class="add-question btn btn-default">Add Question</button>
                </div>



                <div id="submitBtnArea" class="form-group">
                    

                    <button  name="Status" type="submit" value="2" class="btn btn-default submit">Save as draft</button>
                    <button  name="Status" type="submit" value="1" class="btn btn-default submit">Publish</button>
                </div>




            </form>

        </div>
    </div>
</div>











@section Scripts {
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="~/js/EditTest.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
